.location-container {
  padding: 100px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  background: var(--bg-lighter);
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.form-container{
  margin-bottom: 50px;
  padding: 20px;
}

.filter-input-container{
  width: 30%;
  position: relative;
  left: -5px;
}

.type-container{
  width: 30%;
}

.type-text{
  font-size: 20px;
  color: var(--color-grey);
  font-weight: 500;
}

.type-text svg,.dimension-text svg{
  padding-left: 5px;
}

.dimension-container{
  width: 30%;
}

.dimension-text{
  font-size: 20px;
  font-weight: 500;
  color: var(--color-grey);
}

.dimension-text,.type-text{
  cursor: pointer;
}

.no-data{
  font-size: 50px;
  color: var(--color-grey);
  font-weight: 700;
}


.radio-container-location-dimension,.radio-container-location-type{
  position: absolute;
  background: var(--bg-card-characters);
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  height:400px;
  z-index: 30;
  border-radius: 20px 5px 5px 20px;
  padding: 10px;
  box-shadow: var(--box-shadow-card);
  margin-top: 20px;
  margin-left: 20px;

}


.radio-container-location-type{
}

.radio-container-location-type>span{

}

.form{
  width: 100%;
}

.radio-container-data{
  display: flex;
  align-items: center;
}

.img-type{
  width: 30px;
  height: 30px;
  padding: 5px;
}

.filter-container{
  display: flex;
  align-items: center;
  justify-content: center;
}