.cards-container,.infinity-scroll,.checkbox-box,.gender-radio,.radio-container,.filter-container,.filter-input-container,.status-container,.select-and-status-container,.button-container,.cards-container>div{
  display: flex;
}
.cards-container,.infinity-scroll,.checkbox-box,.radio-container,.gender-radio,.filter-container,.cards-container>div,.select-and-status-container{
  align-items: center;
}

.radio-container,.cards-container,.filter-container,.cards-container>div{
  justify-content: center;
}

.select-and-status-container,.checkbox-box,.filter-input-container{
  justify-content: space-between;
}

.cards-container{
  flex-wrap: wrap;

  padding: 100px 40px 40px;

  justify-items: center;
}

.cards-container>div{
  width: 100%;
  background: var(--bg-lighter);
  border-radius: 10px;
}

.cards-container>div:nth-child(2){
  overflow: auto;
}

.scroll>div:nth-child(1){
  width: 100%;
  min-height:400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media all and (max-width: 1480px) {
  .scroll>div:nth-child(1) {
    justify-content: center;
  }
}

.no-data{
  font-size: 50px;
  color: var(--color-grey);
  font-weight: 700;
}

.checkbox-box{
  width: 100px;
}

.filter-container{
  margin-bottom: 50px;
  flex-direction: column;
}

.filter-input-container{
  width: 100%;
  padding: 20px;
}

.select-container{
  width: 230px;
}