.footer-container,.list-of-number-content,.title,.deploys-by-container,.created-by-box,.code-icon{
  display: flex;
}

.footer-container,.created-by-box,.code-icon{
  align-items: center;
  justify-content: center;
}


.footer-container{
  flex-direction: column;

  background: var(--footer);
  color:var(--color-grey);
  height: 400px;
}

.list-of-number-content,.icon-a,.deploys-by-container{
  margin-top: 15px;
  margin-bottom:15px;
}

.list-of-number-content{
  list-style: none;
  text-transform: uppercase;
}


.number-of-content{
font-size: 17px;
}

.element-of-content{
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
}

.icon-a{
  font-size: 20px;
}

.link-web{
  margin-right: 20px;
  margin-left: 20px;
  color: var(--color-grey);
  transition: 300ms ease-in-out;
}

.link-web:hover{
  color: var(--rick-and-morty-main-color);
}

.deploys-by-container{
  flex-direction: row;
}

.git-icon,.github{
  color: var(--color-git-pages);
}

.git-icon{
  font-size: 50px;
}

.title{
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  box-sizing: border-box;
}

.deploy-by-text{
 font-weight: 500;
  font-size: 12px;
}

.github{
  font-weight: 500;
}


.code-icon{
  margin-right: 5px;
  font-size: 18px;
}

.name{
  margin-right: 5px;
  margin-left: 5px;

  border-bottom: 2px solid var(--rick-and-morty-main-color);
  font-weight: 500;
  letter-spacing: 1px;
}

